<link href="~/css/homeindex.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">@_localization.GetKey("Welcome")</h1>
    <h1><b>@_localization.GetKey("Hastanemize Hoşgeldiniz Öncelikle Giriş Yapınız.Eğer Hesabınız Yoksa Lütfen Kayıt Olunuz.") </b></h1>
</div>
