@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
     font-family: 'Arial', sans-serif;
    color: #f4f4f4;
    background-color: #1a4d87;
    margin: 0;
    padding: 0;
    text-align: center;
        
    }
    footer{
        background-color: white;
    }
</style>
<div class="text-center">
    <h1 class="display-4">@_localization.GetKey("Welcome")</h1>
    <h1><b>Hastanemize Hoşgeldiniz Öncelikle Giriş Yapınız.Eğer Hesabınız Yoksa Lütfen Kayıt Olunuz.</b></h1>
</div>
