@model AspWebProgramming.Data.Randevu

@{
    ViewData["Title"] = "Randevu Edit";
}

<h2>Add Appointment</h2>
<hr>

@if (!ViewData.ModelState.IsValid && ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
<hr>
<form asp-controller="Randevu" asp-action="Edit" method="post">
    <input type="hidden" asp-for="RandevuId" />
    
    <div class="mb3">
        <label asp-for="HastaId" class="form-label">Hasta</label>
        <select asp-for="HastaId" asp-items="ViewBag.Hastalar" class="form-control">
            <option value="">Choose</option>
        </select>
    </div>
    <div class="mb3">
        <label asp-for="DoktorId" class="form-label">Doktor</label>
        <select asp-for="DoktorId" asp-items="ViewBag.Doktorlar" class="form-control">
            <option value="">Choose</option>
        </select>
    </div>

    <div class="mb3">
        <label asp-for="RandevuTarih" class="form-label">Randevu Tarihi</label>
        <input asp-for="RandevuTarih" class="form-control">
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>