body{
    background-color:#1a4d87;
}
.table {
border-collapse: collapse;
width: 100%;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
background-color: #ddd;
}

.table th, .table td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

.table th {
background-color: #4CAF50;
color: white;
}

.table tr:nth-child(even) {
background-color: #f2f2f2;
}

.table tr:hover {
background-color: #ddd;
}

.btn-primary {
background-color: blue;
color: white;
padding: 10px 20px;
text-decoration: none;
border: none;
border-radius: 4px;
}

.btn-primary:hover {
background-color:darkblue;
}

.btn-danger {
background-color: red;
color: white;
padding: 10px 20px;
text-decoration: none;
border: none;
border-radius: 4px;
}

.btn-danger:hover {
background-color: darkred;
}